body{
    min-height: 100dvh;
    background-color: rgb(39, 39, 60);
    font-family: Helvetica;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    
    flex-direction: column;
}

.titulo{
    color: lime;
    text-align: center;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main{
    margin-bottom: 50px
}

.footer{
    border-top: 2px solid;
    padding: 10px;
    border-color:#6cf20d;
    text-align: center;
    color: rgb(119, 163, 199);
    margin-top: auto;
}

nav{
    border-top: 2px solid #201c28;
    border-bottom: 2px solid #201c28;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.botonNav{
    display: inline-flex;
    background-color: rgb(23, 42, 42);
    color: aquamarine;
    margin-left: 40px;
    padding: 15px;
    border: 3px solid;
    border-color: rgb(11, 19, 22);
    
}

#contenedorTarjetas{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.tarjeta{
    width: 1200px;
    height: 130px;
    margin: 50px;
    padding: 20px;
    border: 4px solid;
    border-radius: 4px;
    border-color: orangered;
    text-align: center;
    color: #efc313;
    background-color: rgba(225, 73, 73, 0.474);
    transition: 0.2s;
    font-weight: bolder;
    .descripcion{
        color: transparent;
        transition: 0.2s;
    }
}

.tarjetaHover{
    width: 1200px;
    height: 130px;
    margin: 50px;
    padding: 20px;
    border: 4px solid;
    border-radius: 4px;
    border-color: orangered;
    text-align: center;
    color: #b62208;
    background-color: rgb(226, 95, 47);
    transition: 0.5s;
    transform: scale(1.2);
    font-weight: bolder;
    .descripcion{
        color: #6cf20d;
        transition: 0.8s;
    }
}

#contenedorMotos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.tarjetaMoto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 400px;
    height: 500px;
    padding-top: 90px;
    padding-bottom: 90px;
    border: 5px solid;
    border-color: #327e68;
    border-radius: 4px;
    background-color: #2e594cad;
    height: 350px;
    color: #f1cc5d;
    font-weight: bold;
    align-items: center;
    transition: 0.6s;
    #nombreMoto{
        font-weight:800;
        color: #f07b06;
    }
    .datoMoto{
        color: #c0f309;
        font-weight: normal;
    }
    .motoMostrar{
        border: 10px solid;
    }
}



table{
    background-color: #3c04ab;
    border-width: 2px solid;
    text-align: center;
    border-color: black;
    border: 20px;
}
#contenedorFormulario{
    background-color: #201c28;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#formularioJS{

    display: flex;
    flex-direction: row;
    width: auto;
    height: 30px;
    gap: 15px;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    padding: 30px;
}
input{
    padding: 10px;
}